@import "tailwindcss";

@theme {
  --color-primary-50: #ffffff;
  --color-primary-100: #f5f5f5;
  --color-primary-500: #a3a3a3;
  --color-primary-600: #525252;
  --color-primary-700: #404040;
  --color-primary-900: #171717;

  --color-dark-50: #fafafa;
  --color-dark-100: #f4f4f5;
  --color-dark-700: #3f3f46;
  --color-dark-800: #27272a;
  --color-dark-900: #000000;

  --color-surface-dark: #000000;
  --color-surface-darker: #000000;
  --color-surface-card: rgba(0, 0, 0, 0.95);

  --font-sans: "Inter", "Roboto", "sans-serif";
}
